{% extends "template.html" %}
{% block content %}
<html>
  
  <body>
    <div class="container">
 
     <!--This code will ensure that the login message appears-->
          {% with messages = get_flashed_messages() %}
                {% if messages %} 
                  <ul id="messages" class="list-unstyled">
                      {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                      {% endfor %}
                   </ul>
                {% endif %}
          {% endwith %}

        <h1>Login</h1>
        <form action="{{url_for('authenticate')}}" method="POST" >
            <input type="hidden" name="next" value="{{ next }}">
            <!-- this code above, will get the last page that user was trying to acess -->
            <p><label>User's Name:</label> <input class="form-control" type="text" name="user" required></p>
            <p><label>Password:</label> <input class="form-control" type="password" name="password" required></p>
            <p><button class="btn btn-primary" type="submit">Sign in</button></p>
        </form>
    </div>
</body>
</html>
{% endblock %}