 {% extends "template.html" %}
 {% block content %}
      <form action = "{{url_for('creatin_new_games')}}" method = "post" >
        <!-- identifier, action must contain  the route to the page that is been worked-->
        <!-- and the identifier action must contain the value "post" if I wanna the flask server  
         return a value for the website-->
        <fieldset>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" id="category" name="category" class="form-control">
          </div>
          <div class="form-group">
            <label for="console">Console</label>
            <input type="text" id="console" name="console" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Save</button>
        </fieldset>
      </form>
{% endblock %}